/* ================================= 
  Page Styles
==================================== */

* {
	box-sizing: border-box;
}
body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	padding: 2em;
	background: #f2f2f2;
}
a {
	color: #3acec2;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	padding: 10px 15px;
}
a:hover {
	color: #093a58;
}
.main-header {
	background: #3acec2;
	padding: .001em;
}
.main-nav {
	width: 50%;
	padding: 1.65em;
	margin: 0 auto;
}
.main-nav li {
	background: #fff;
	border: solid 1px #093a58;
}

/* ================================= 
  Positioning Styles
==================================== */

.main-nav {
	position: relative;
	margin-top: 100px;
}

.ice-cream {
	position: absolute;
	top: 0;
	left: 0;
}

.tea {
	position: absolute;
	right: 0;
	bottom: 0;
}















